.header {
    box-shadow: 0 2px 5px gray;
    margin-bottom: 20px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    align-items: center;
}
.log-in-cart {
    display: flex;
    align-items: center;
    gap: 50px;
}
.shopping-cart {
    display: flex;
    flex-direction: column;
}
.shopping-cart-h3 {
    text-align: center;
}